<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Staff to Service</title>
    <link rel="stylesheet" href="/css/salons/assignStaffService.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <h1>Assign Staff to Service</h1>
    </header>
    <main>
        <section>
            <h2>Staff List</h2>
            <div id="staffList" class="staff-list">
                <!-- Staff cards will be dynamically loaded here -->
            </div>
        </section>
        <button class="main-menu-btn" onclick="window.location.href='http://localhost:3000/salonsdashboard'">Main Menu</button>

    </main>
    <script src="/js/salons/assignStaffService.js"></script>
</body>
</html>