<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin/index.css" />
  </head>
  <body>
    <header>
      <h1>Admin Dashboard</h1>
      <button id="logout-btn">Logout</button>
    </header>
    <main>
      <div class="card-container">
        <div class="admin-card" id="salon-card">
          <h2>Appointments</h2>
          <p>Manage all Appointments here.</p>
        </div>
        <div class="admin-card" id="customer-card">
          <h2>Customer</h2>
          <p>View and manage customers.</p>
        </div>
      </div>
    </main>
    <script src="/js/admin/index.js"></script>
  </body>
</html>
