<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Group Chat App</title>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome to the Fresha</h1>
    <div class="nav-section">
      <h2>Get Started</h2>
      <a href="api/buisness/login" class="nav-btn">Buisness</a>
      <a href="user/login" class="nav-btn">Customer</a>
      <a href="api/staff/login" class="nav-btn">Staff</a>
    </div>
  </div>
</body>
</html>