<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Group Chat App</title>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <div class="container">
    <h1>💰 Welcome to the Group Chat App</h1>
    <div class="nav-section">
      <h2>Get Started</h2>
      <a href="api/user/signup" class="nav-btn">Signup</a>
      <a href="api/user/login" class="nav-btn">Login</a>
    </div>
  </div>
</body>
</html>